body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    background-color: #111;
    border: 2px solid #fff;
}

/* Теперь делаем холст больше, чтобы адаптироваться под телефон */
canvas {
    width: 100%;
    max-width: 480px;
    height: auto;
}

#score {
    margin-top: 20px;
    font-size: 2rem;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.controls button {
    background-color: #333;
    color: white;
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
}
